/* Desktop */
body{
  margin: 0 0 0 60px;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  margin-top: 43px;
  margin-left: 10px;
  width: 95px;
  height: 46px;
}

nav {
  margin-right: 107px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

nav a {
  padding-top: 46px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

nav a:hover {
  padding-top: 43px;
  border-top: #0065FC 3px solid;
  color: #0065FC;
}

nav a:focus {
  padding-top: 43px;
  border-top: #0065FC 3px solid;
  color: #0065FC;
}

.sub-header {
  margin-top: 38px;
  margin-left: -5px;
  font-size: 22.5px;
}

.sub-header1 {
  font-size: 16px;
  margin-top: 8px;
}

.search_bar {
  margin-top: 19px;
  background-color: #f2f2f2;
  height: 50px;
  width: 422px;
  margin-left: -6px;
  border-radius: 17px;
}

.search_bar input {
  padding-left: 16px;
  font-size: 19px;
  height: 46px;
  margin-left: 16px;
  width: 235px;
  border: none;
}

.search_bar button {
  color: white;
  font-size: 19px;
  height: 50px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  margin-left: -5px;
  width: 134px;
  border: none;
  background-color: #0065FC;
  cursor: pointer;
}

.search_bar i {
  margin-left: 19px;
  font-size: 17.5px;
}

.Filtre {
  margin-top: 26px;
  font-size: 19.4px;
  margin-left: 2px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.Filtre_card {
  margin-top: 4px;
  border: #f2f2f2 2px solid;
  height: 47px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0;
  cursor: pointer;
}

.Filtre_card i {
  background-color: #DEEBFF;
    padding: 18px;
    border-radius: 50px;
}

.Filtre_card p {
  padding: 3px 18px 2px 10px;
  font-size: 19px;
}

.Filtre_card i {
  color: #0065FC;
}

.sub-filtres {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 8px;
  font-size: 16px;
}
 .sub-filtres i {
  color: #0065FC;
  font-size: 14px;
  border: solid #f2f2f2 2px;
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 50px;
  height: 4px;
  margin-top: 13px;
  margin-left: -11px;
  margin-right: 8px;
}

.héb-groupe {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 25px;

  width: 1340px;
  height: 611.5px;
}

.Héb-Mar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 30px;
  
  width: 871px;
  height: auto;
  
  /* Grey */
  background: #F2F2F2;
  border-radius: 15px;
}

.frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 841px;
  height: 207.25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 15px;
  gap: 4px;

  width: 250.33px;
  height: 207.25px;

  border: 5px solid #FFFFFF;
  border-radius: 20px 20px 20px 20px;

  background: #FFFFFF;

  overflow: hidden;
  text-decoration: none;
  color: black;
}

.card-img {
  object-fit: cover;
  width: 250.33px;
  height: 124px;
}

.frame-card-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 15px;
  gap: 8px;

  width: 250.33px;
  height: 64.25px;
}

p {
  margin: 0;
}

.frame-card-1 p {
  font-size: 14px;
}

.frame-card-1 b {
  font-size: 16px;
}

.fa-star {
  width: 14.29px;
  height: 13.25px;
}

.blue-star {
  color: #0065FC;
}

.title_size {
  font-size: 22px;
}

.Af {
  text-decoration: none;
  color: black;
  margin-top: 12px;
}

.Héb-Populaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
  
  width: 429px;
  height: auto; 

  /* Grey */
  background: #F2F2F2;
  border-radius: 15px;
  position: relative;
}

.title_size1 {
  position: absolute;
  width: 300.31px;
  height: 26px;
  left: 35px;
  top: 35px;

  /* Title/Section */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.graphe {
  position: absolute;
  left: 333px;
  top: 40px;
  color: #0065FC;
}

.popular-card {
  position: relative;
  width: 369px;
  height: 144px;
  overflow: hidden;

  background: #FFFFFF;
  border-width: 5px 0px 5px 5px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 20px 20px 20px 20px;
  color: black;
}

.popular-card-img {
  position: absolute;
  width: 123px;
  height: 144px;
  left: 0px;
  top: 0px;
  object-fit: cover;
}


.frame-card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 5px 5px 15px;
  gap: 8px;

  position: absolute;
  width: 246px;
  height: 134px;
  left: 123px;
  top: 5px;
}

.frame-card-2 p {
  font-size: 14px;
}

.frame-card-2 b {
  font-size: 16px;
  width: 226px;
}

.popular-note {
  position: absolute;
  left: 10px;
  bottom: 21px;
}

.popular-cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  width: 369px;
  height: 492px;
  align-items: flex-start;
}

.Activités {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 30px;
  
  width: 1340px;
  height: 559.02px;
}

.Activités-cont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  
  width: 1280px;
  height: 439px;
}

.Activités-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  
  width: 297.5px;
  height: 439px;
  background-color: #F2F2F2;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

.Activités-card img {
  width: 297.5px;
  height: 380px;
  object-fit: cover;

}

.Activités-card b {
  margin: 19px 0 0 20px;
  color: black;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  
  width: 1340px;
  height: 163px;

  background: #F2F2F2;
}

.footer-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  width: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li a {
  color: black;
}