/* Desktop */
body{
  margin: 0 0 0 60px;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  margin-top: 43px;
  margin-left: 10px;
  width: 95px;
  height: 46px;
}

nav {
  margin-right: 107px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

nav a {
  padding-top: 46px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

nav a:hover {
  padding-top: 43px;
  border-top: #0065FC 3px solid;
  color: #0065FC;
}

nav a:focus {
  padding-top: 43px;
  border-top: #0065FC 3px solid;
  color: #0065FC;
}

.sub-header {
  margin-top: 38px;
  margin-left: -5px;
  font-size: 22.5px;
}

.sub-header1 {
  font-size: 16px;
  margin-top: -8px;
}

.search_bar {
  margin-top: 19px;
  background-color: #f2f2f2;
  height: 50px;
  width: 422px;
  margin-left: -6px;
  border-radius: 17px;
}

.search_bar input {
  padding-left: 16px;
  font-size: 19px;
  height: 50px;
  margin-left: 16px;
  width: 235px;
  border: none;
}

.search_bar button {
  color: white;
  font-size: 19px;
  height: 50px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  margin-left: -5px;
  width: 134px;
  border: none;
  background-color: #0065FC;
  cursor: pointer;
}

.search_bar i {
  margin-left: 19px;
  font-size: 17.5px;
}

.Filtre {
  margin-top: 26px;
  font-size: 19.4px;
  margin-left: 2px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.Filtre_card {
  margin-top: 4px;
  border: #f2f2f2 2px solid;
  height: 47px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0;
  cursor: pointer;
}

.Filtre_card i {
  background-color: #DEEBFF;
    padding: 18px;
    border-radius: 50px;
}

.Filtre_card p {
  padding: 3px 18px 2px 10px;
  font-size: 19px;
}

.Filtre_card i {
  color: #0065FC;
}

.sub-filtres {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 8px;
  font-size: 16px;
}
 .sub-filtres i {
  color: #0065FC;
  font-size: 14px;
  border: solid #f2f2f2 2px;
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 50px;
  height: 4px;
  margin-top: 13px;
  margin-left: -11px;
  margin-right: 8px;
}